<footer class="mdl-mini-footer"  >
    <div class="mdl-mini-footer--left-section">
      <ul class="mdl-mini-footer--link-list">
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>        
      </ul>
    </div>
</footer>