<header class="mdl-layout__header" style="background-color:rgba(100, 240, 100, 1)">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" style="color: black;">Menu</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link menuItem" href="/">Home</a>
        <a class="mdl-navigation__link menuItem" href="/status">Status</a>       
      </nav>
    </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/status">Status</a>      
  </nav>
</div>