<!DOCTYPE html>
<html >
  <head>
    <%include ../partials/head%>
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
      <%include ../partials/header%> 
      	<h1>Página não encontrada!</h1>
    </div>
    <%include ../partials/footer%>

    
  </body>
</html>