<!DOCTYPE html>
<html >
  <head>
    <%include ../partials/head%>
    <link rel="stylesheet" type="text/css" href="css/status.css">
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
      <%include ../partials/header%> 
      <main class="mdl-layout__content" id="app" >
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col" id="status">
              <br><br><br><br>
              <div>
                Tempo em execucao:
                <span id="uptime"></span> <br/><br/>
                Número de consultas realizada:
                <span id="queriesExecuted"></span><br><br/>
                Número de CPFs na blacklist:
                <span id="blockedCpfs"></span><br><br/>
              </div> 
            </div>
          </div>                     
      </main>
    </div>
    <%include ../partials/footer%>

    <script src="js/status.js"></script>
  </body>
</html>